<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAi1G3vl65rPFWoi5773Xn7K4ISqwSP_h0</string>
	<key>GCM_SENDER_ID</key>
	<string>457912236079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterJobTest</string>
	<key>PROJECT_ID</key>
	<string>flutter-job-test</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-job-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457912236079:ios:ff4da9478d6f7aba79eeda</string>
</dict>
</plist>